##################
*.csproj
*.sln

#####################
/Library/
/Builds/
.vs/
.vscode/
/Temp/
obj/
/Logs/
/TestFolder/
/Assets/CodeMonkey/
/Assets/CodeMonkey.meta
/Tools/AStar/

/xLua-master/
/Assets/XLua/
/Assets/XLua/Gen
/Assets/XLua.meta
/Assets/XLua/Gen.meta
Assets/StreamingAssets.meta
Assets/StreamingAssets/